body{
    margin-left: 40%;
    margin-top: 10%;
    align-items: center;
   background-color: #FFFF;
}
.conatiner{
    align-items: center; padding-top:50px; width: 300px; padding-left: 50px; padding-bottom: 50px;
    border-radius: 20px; box-shadow:rgba(0,0,0,0.5) 5px 5px 8px; background-color: #d0d0d0;
}
input{ 
    width: 10%;
    padding-left: 5px;
    padding-top: 13px; 
    font-size: 25px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    border: 2px solid black; 
    background-color: rgb(126, 126, 126);
    padding-bottom: 10px;
    box-shadow:rgba(0, 0, 0,0.5) 5px 5px 10px;
} 
button { 
     width: 10%;
    padding: 14px 30px; 
    background-color:#181818; 
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    box-shadow:rgba(0, 0, 0,0.5) 5px 5px 10px;
    margin: 1px;
    transition: 0.5s ease;
   
} 

button:hover{
    transform: scale(0.92);
}
.button1 {
    margin-top: 5px;
    
}
#screen{
    /* width: 44.5%; */
    flex: 1;

}
.screen{
    justify-content: space-between;
    display: flex;
    width: 260px;
}
.screen button{
    margin-left: 4px;
}
button.clear{
    background-color:  #FFBA75;

}