body{
    margin-left: 40%;
    margin-top: 10%;
}

input{ 
    padding-left: 10px;
    padding-top: 23px; 
    font-size: 20px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    border: 2px solid black; 
} 
button { 
    width: 10%; 
    padding: 14px 30px; 
    background-color: green; 
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
} 
